In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("rules.csv")

In [13]:
df['Foe Team'] = [1 if df['Team'][i] == 2 else 2 for i in range(len(df))]

In [14]:
df.head()

   index Action Team  Team  Foe Team
0      1         Ban     1         2
1      2         Ban     2         1
2      3         Ban     1         2
3      4         Ban     2         1
4      5         Ban     1         2

In [15]:
df.to_csv('rules.csv', index=False)